* {
    font-family: 'Arial';
    font-size: 14px;
}

body {
    background-size: cover;
    height: 100vh;
    background-image : url("images/VE.png");
}

h1 {
    color: red;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}